{% load i18n %}

{% if deal.status == 0 %}
<div class="btn text-success" data-toggle="tooltip" title="{% trans 'unseen' %}">
  <i class="fas fa-eye-slash"></i>
</div>
{% elif deal.status == 10 %}
<div class="btn text-success" data-toggle="tooltip" title="{% trans 'seen' %}">
  <i class="fas fa-eye"></i>
</div>
{% elif deal.status == 20 %}
<div class="btn text-success" data-toggle="tooltip" title="{% trans 'answered' %}">
  <i class="fas fa-info-circle"></i>
</div>
{% elif deal.status == 100 %}
<div class="btn text-success" data-toggle="tooltip" title="{% trans 'accepted' %}">
  <i class="fas fa-check-circle"></i>
</div>
{% else %}
<div class="btn text-success" data-toggle="tooltip" title="{% trans 'unknown' %}">
  <i class="fas fa-question-circle"></i>
</div>
{% endif %}
