{% load i18n %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">{% trans 'offer' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two"
      aria-selected="false" onclick="">{% trans 'seek' %}</a>
  </li>
</ul>
<div class="tab-content border-left border-right border-bottom" id="myTabContent">
  <div class="tab-pane fade show active pt-3" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-8 col-xl-4 order-3 order-md-1 order-xl-1"><b>{% trans 'offering' %}</b></div>
          <div class="col-6 col-md-2 col-lg-2 col-xl-2 order-1 order-md-2 order-xl-2"><b>{% trans 'user' %}</b></div>
          <div class="col-12 col-lg-6 order-4 col-xl-2 order-xl-3"><b>{% trans 'offers' %}</b></div>
          <div class="col-12 col-lg-6 order-5 col-xl-2 order-xl-4"><b>{% trans 'seeks' %}</b></div>
          <div class="col-6 col-md-2 col-lg-2 col-xl-2 order-2 order-md-3 order-xl-5 d-flex justify-content-end"></div>
        </div>
        {% for listing in object.pushs %}
          <div class="row border-top my-3">
            <div class="col-12 col-md-8 col-lg-8 col-xl-4 order-3 order-md-1 order-xl-1">{% with use_title=True %}{% include 'listing/inc/link.html' %}{% endwith %}</div>
            <div class="col-6 col-md-2 col-lg-2 col-xl-2 order-1 order-md-2 order-xl-2">{% with user=listing.user %}{% include 'user/inc/link.html' %}{% endwith %}</div>
            <div class="col-12 col-lg-6 order-4 col-xl-2 order-xl-3">{% for listing in listing.user.pushs %}{% include 'listing/inc/link.html' %}{%endfor%}</div>
            <div class="col-12 col-lg-6 order-5 col-xl-2 order-xl-4">{% for listing in listing.user.pulls %}{% include 'listing/inc/link.html' %}{%endfor%}</div>
            <div class="col-6 col-md-2 col-lg-2 col-xl-2 order-2 order-md-3 order-xl-5 d-flex justify-content-end">
              <a class="btn p-0 text-info" href="{% url 'deal_user_create' listing.user.pk %}">
                <i class="fas fa-plus"></i> {% trans 'deal' %}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="tab-pane fade pt-3" id="two" role="tabpanel" aria-labelledby="two-tab">
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-8 col-xl-4 order-3 order-md-1 order-xl-1"><b>{% trans 'request' %}</b></div>
          <div class="col-6 col-md-2 col-lg-2 col-xl-2 order-1 order-md-2 order-xl-2"><b>{% trans 'user' %}</b></div>
          <div class="col-12 col-lg-6 order-4 col-xl-2 order-xl-3"><b>{% trans 'offers' %}</b></div>
          <div class="col-12 col-lg-6 order-5 col-xl-2 order-xl-4"><b>{% trans 'seeks' %}</b></div>
          <div class="col-6 col-md-2 col-lg-2 col-xl-2 order-2 order-md-3 order-xl-5 d-flex justify-content-end"></div>
        </div>
      {% for listing in object.pulls %}
        <div class="row border-top my-3">
          <div class="col-12 col-md-8 col-lg-8 col-xl-4 order-3 order-md-1 order-xl-1">{% with use_title=True %}{% include 'listing/inc/link.html' %}{% endwith %}</div>
          <div class="col-6 col-md-2 col-lg-2 col-xl-2 order-1 order-md-2 order-xl-2">{% with user=listing.user %}{% include 'user/inc/link.html' %}{% endwith %}</div>
          <div class="col-12 col-lg-6 order-4 col-xl-2 order-xl-3">{% for listing in listing.user.pushs %}{% include 'listing/inc/link.html' %}{%endfor%}</div>
          <div class="col-12 col-lg-6 order-5 col-xl-2 order-xl-4">{% for listing in listing.user.pulls %}{% include 'listing/inc/link.html' %}{%endfor%}</div>
          <div class="col-6 col-md-2 col-lg-2 col-xl-2 order-2 order-md-3 order-xl-5 d-flex justify-content-end">
            <a class="btn p-0 text-info" href="{% url 'deal_user_create' listing.user.pk %}">
              <i class="fas fa-plus"></i> {% trans 'deal' %}
            </a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

