{% load i18n %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">{% trans 'offer' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two"
      aria-selected="false" onclick="">{% trans 'seek' %}</a>
  </li>
</ul>
<div class="tab-content border-left border-right border-bottom" id="myTabContent">
  <div class="tab-pane fade show active pt-3" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="container-fluid">
      {% with listings=object.pushs %}{% include 'category/solo/category_detail_single.html' %}{% endwith %}
    </div>
  </div>
  <div class="tab-pane fade pt-3" id="two" role="tabpanel" aria-labelledby="two-tab">
    <div class="container-fluid">
      {% with listings=object.pulls %}{% include 'category/solo/category_detail_single.html' %}{% endwith %}
    </div>
  </div>
</div>

