language: python

os:
  - linux

python:
  - "3.8"

cache: pip

install:
  - pip install -r requirements_dev.txt

script:
  - coverage run --source='.' manage.py test && coverage report -m --skip-covered

after_success:
  - coveralls
