git+https://github.com/snake-soft/snakelib.git
django>=3
django-debug-toolbar
pylint
pylint-django
coverage
coveralls
m2r
Pillow
django-pwa
python-lorem
names
django-analytical
daphne
channels_redis
redis
django-db-logger
python-decouple
django-oauth-toolkit
social-auth-app-django
user_messages
