{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
  <div class="container">
    <form method="post">
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.errors }}
        </div>
      {% else %}
      {% endif %}
      {% csrf_token %}
      <table class="table table-striped table-bordered table-hover">
        {{ form.as_table }}
      </table>
      <button class="btn btn-primary btn-block" type="submit">Speichern</button>
    </form>
  </div>
{% endblock %}