{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
      {% if listing.image %}
    <div class="col-auto">
        <img src="{{ listing.image.url }}" class="rounded float-left border" width="200" height="200">
    </div>
      {% endif %}
    <div class="col">
      <div class="row">
        <div class="col-12">
          <h3>{% if object.type == 'push' %}Angebot{% else %}Anfrage {% endif %} {{ object.title }} von {{ object.user }}</h3>
        </div>
      </div>
      <div class="row my-3 border-top">
        <div class="col">
          <div class="row">Kategorie:</div>
          <div class="row">{{ listing.category }}</div>
        </div>
        <div class="col">
          <div class="row">Menge:</div>
          <div class="row">{{ listing.quantity }}{{ listing.unit }}</div>
        </div>
        <div class="col">
          <div class="row">Erstellt:</div>
          <div class="row">{{ listing.created }}</div>
        </div>
        <div class="col">
          <div class="row">Geändert:</div>
          <div class="row">{{ listing.modified }}</div>
        </div>
      </div>
      <div class="row my-3 border-top">
        <div class="col">
          <div class="row">
            Beschreibung:
          </div>
          <div class="row">
            {{ listing.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="mt-5 mb-0">
<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-12">
      {% if listing.user == request.user %}
        <a class="float-right" href="{% url 'listing_update' listing.type listing.pk %}">Bearbeiten</a>
      {% endif %}
    </div>
  </div>
</div>
{% include 'listing/solo/listing_list.html' %}
{% endblock %}
