{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block help %}
  {% include 'listing/inc/help.html' %}
{% endblock %}


{% block content %}
<div class="container rounded border p-4">
  <div class="row">
    <div class="col-12">
      <h5>
        {% if listing.type == 'push' %}
          <i class="fas fa-sort-up"></i>
        {% elif listing.type == 'pull'%}
          <i class="fas fa-sort-down"></i>
        {% endif %}
        {{ symbols.listing|safe }}
        {% if listing.type == 'push' %}
          {% trans 'offering' %}
        {% else %}
          {% trans 'request' %}
        {% endif %}
          {{ object.title }} {% trans 'from' %} {{ object.user }}
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <div class="rounded border d-flex justify-content-center" style="width:200px;height:200px;">
        <img class="img-thumbnail" src="{% if listing.image %}{{ listing.image.url }}{% else %}{% static 'images/default_listing.jpg' %}{% endif %}" style="object-fit: cover;{% if not listing.image %}opacity: 0.3;{% endif %}">
      </div>
    </div>
    <div class="col">
      <div class="row my-3 border-top">
        <div class="col">
          <div class="row">
            <div class="col">
              <b>{% trans 'feedback'|title %}:</b>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="{% url 'feedback_detail' 'push' listing.pk %}">
                {% if listing.score %}{% with score=listing.score %}{% include 'feedback/inc/score.html' %}{% endwith %}{% endif %}
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <b>{% trans 'category'|title %}:</b>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ listing.category }}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <b>{% trans 'quantity'|title %}:</b>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ listing.quantity }}{{ listing.unit }}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <b>{% trans 'created'|title %}:</b>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ listing.created }}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <b>{% trans 'modified'|title %}:</b>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ listing.modified }}
            </div>
          </div>
        </div>
      </div>
      <div class="row my-3 border-top">
        <div class="col">
          <div class="row">
            <div class="col">
              <b>{% trans 'description'|title %}:</b>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ listing.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="mt-5 mb-0">
<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-12">
      {% if listing.user == request.user %}
        <a class="float-right" href="{% url 'listing_update' listing.type listing.pk %}">{{ symbols.update|safe }} {% trans 'update'|title %}</a>
      {% endif %}
    </div>
  </div>
</div>
{% include 'listing/solo/listing_list.html' %}
{% endblock %}
