{% load humanize %}
{% load i18n %}


<div class="container-fluid">
  <div class="row">
    <div class="col-12"><h5>{% trans 'further'|title %} {% trans 'pushs' %} {% trans 'of' %} {{ listing.user }}</h5></div>
  </div>
</div>
{% with listings=listing.user.pushs %}
  {% with type='push' %}
    {% include 'listing/solo/listing_type_list.html' %}
  {% endwith %}
{% endwith %}
<hr class="py-3">
<div class="container-fluid">
  <div class="row">
    <div class="col-12"><h5>{% trans 'further'|title %} {% trans 'pulls' %} {% trans 'of' %} {{ listing.user }}</h5></div>
  </div>
</div>
{% with listings=listing.user.pulls %}
  {% with type='pull' %}
    {% include 'listing/solo/listing_type_list.html' %}
  {% endwith %}
{% endwith %}