{% load humanize %}
{% load i18n %}

<div class="container-fluid">
  <div class="row">
    <div class="col-8">
        <h5>
          {% if type == 'push' %}
            {{ symbols.push|safe }} 
          {% elif type == 'pull' %}
            {{ symbols.pull|safe }} 
          {% endif %}
          {% if user == request.user %}
            {% trans '_your'|title %}
          {% else %}
            {{ user }}'s
          {% endif %}
          {% if type == 'push' %}
            {% trans 'offerings' %}
          {% elif type == 'pull' %}
            {% trans 'requests' %}
          {% endif %}
        </h5>
    </div>
    <div class="col-4 d-md-flex justify-content-end">
        {% if user == request.user %}
          <a class="btn p-0 text-info" href="{% url 'listing_create' type %}?next={{ request.path }}">
            <i class="fas fa-plus"></i> {% if type == 'push' %}{% trans 'offer' %}{% elif type == 'pull' %}{% trans 'seek' %}{% endif %}
          </a>
        {% endif %}
    </div>
  </div>
</div>
