{% load humanize %}
<div class="container-fluid">
  <div class="row">
    <div class="col-8">
        <h3>{% if user == request.user %}Meine{% else %}{{ user }}'s{% endif %} Angebote</h3>
    </div>
    <div class="col-4 d-md-flex justify-content-end">
        {% if user == request.user %}<a class="btn p-0 text-info" href="{% url 'listing_create' 'push' %}"><i class="fas fa-plus"></i> biete</a>{% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 col-md-2 order-4 order-sm-1">
      <b>Kategorie</b>
    </div>
    <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-2">
      <b>Titel</b>
    </div>
    <div class="col-12 col-sm-4 col-md-2 order-2 order-sm-3">
      <b>Menge</b>
    </div>
    <div class="col-12 col-sm-8 col-md-3 order-3 order-sm-4 d-md-flex justify-content-end">
      <b>Geändert</b>
    </div>
  </div>
  {% for listing in user.pushs %}
  <div class="row border-top">
    <div class="col-12 col-sm-4 col-md-2 order-4 order-sm-1">
      {% with category=listing.category %}{% include 'category/inc/link.html' %}{% endwith %}
    </div>
    <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-2">
      {% include 'listing/inc/link.html' %} {{ listing.title }}
    </div>
    <div class="col-12 col-sm-4 col-md-2 order-2 order-sm-3">
      {{ listing.quantity }}{{ listing.unit.short }}
    </div>
    <div class="col-12 col-sm-8 col-md-3 order-3 order-sm-4 d-md-flex justify-content-end" title="{{ listing.modified }}">
      {{ listing.modified|naturaltime }}
    </div>
  </div>
  {% endfor %}
</div>
<hr class="my-5">
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-8">
      <h3 class="row">{% if user == request.user %}Meine{% else %}{{ user }}'s{% endif %} Anfragen</h3>
    </div>
    <div class="col-4 d-md-flex justify-content-end">
        {% if user == request.user %}<a class="btn p-0 text-info" href="{% url 'listing_create' 'pull' %}"><i class="fas fa-plus"></i> suche</a>{% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 col-md-2 order-4 order-sm-1">
      <b>Kategorie</b>
    </div>
    <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-2">
      <b>Titel</b>
    </div>
    <div class="col-12 col-sm-4 col-md-2 order-2 order-sm-3">
      <b>Menge</b>
    </div>
    <div class="col-12 col-sm-8 col-md-3 order-3 order-sm-4 d-md-flex justify-content-end">
      <b>Geändert</b>
    </div>
  </div>
  {% for listing in user.pulls %}
  <div class="row border-top">
    <div class="col-12 col-sm-4 col-md-2 order-4 order-sm-1">
      {% with category=listing.category %}{% include 'category/inc/link.html' %}{% endwith %}
    </div>
    <div class="col-12 col-sm-8 col-md-5 order-1 order-sm-2">
      {% include 'listing/inc/link.html' %} {{ listing.title }}
    </div>
    <div class="col-12 col-sm-4 col-md-2 order-2 order-sm-3">
      {{ listing.quantity }}{{ listing.unit.short }}
    </div>
    <div class="col-12 col-sm-8 col-md-3 order-3 order-sm-4 d-md-flex justify-content-end" title="{{ listing.modified }}">
      {{ listing.modified|naturaltime }}
    </div>
  </div>
  {% endfor %}
</div>
