{% load humanize %}
{% load i18n %}
<div class="col-auto d-flex flex-fill align-content-stretch flex-wrap">
<div class="card mt-3 d-flex align-content-stretch flex-wrap">
  <div class="card-header">
    {% if feedback.type == 'user' %}
      {% trans 'user'|title %}: {% include 'user/inc/link.html' %}
    {% else %}
      {% trans 'offering'|title %}: {% with listing=feedback.push %}{% include 'listing/inc/title_link.html' %}{% endwith %}
    {% endif %}
    {% if feedback.type == 'user' %}
      {% trans 'user'|title %}-
    {% else %}
      {% trans 'offering'|title %}-
    {% endif %}{% trans 'feedback' %}
  </div>
  <div class="card-body">
    <div class="row border-bottom">
      <div class="col-auto"><b>{{ feedback.subject }}</b></div>
    </div>
    <div class="row border-bottom">
      <div class="col-auto">{{ feedback.text }}</div>
    </div>
    <div class="row border-bottom">
      <div class="col-auto">{% trans 'happiness' %}:</div>
      <div class="col my-auto">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width:{{ feedback.score }}%;" aria-valuenow="{{ feedback.score }}" aria-valuemin="0" aria-valuemax="100">{{ feedback.score }}%</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">{% with user=feedback.creator %}{% include 'user/inc/link.html' %}{% endwith %}</div>
      <div class="col-auto">{{ feedback.created|naturaltime }}</div>
    </div>
  </div>
</div>
</div>