<span class="{% if use_title %}text-nowrap{% endif %}">
  <a class="badge badge-{% if listing.type == 'push' %}primary{% elif listing.type == 'pull'%}secondary{% endif %}" 
  href="{% url 'listing_detail' listing.type listing.pk %}">
    {% if listing.type == 'push' %}
      <i class="fas fa-sort-up"></i>
    {% elif listing.type == 'pull'%}
      <i class="fas fa-sort-down"></i>
    {% endif %}
    {% if use_title %}
      {{ symbols.listing|safe }}
    {% else %}
      {{ listing.category.title }}
    {% endif %}
  </a>
{% if use_title %}
  <a class="btn btn-link p-0" href="{% url 'listing_detail' listing.type listing.pk %}">{{ listing.title }}</a>
{% endif %}
</span>