{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Über nomoney.shop{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h1>Nutzungsbedingungen Tauschbörse</h1>

Mit der Tauschbörse stellt nomoney.shop eine kostenlose Plattform zur Vermittlung von gut erhaltenen, gebrauchsfähigen Gegenständen zur Verfügung.
Die Tauschbörse kann von privaten Haushalten genutzt werden.
Sie darf nicht für kommerzielle Zwecke verwendet werden.

nomoney.shop übernimmt keine Haftung und Gewähr für die Seriosität der Nutzer, die in der Tauschbörse angebotenen Gegenstände und deren Qualität.

Mit der Nutzung der Tauschbörse nomoney.shop erkennt der Nutzer nachfolgende Nutzungsbedingungen in der jeweils gültigen Fassung an. 

<h2>Allgemeines</h2>
<ul>
  <li>Grundsätzlich gibt der Betreiber selbst keine Angebote ab, stellt keine Suchanfragen und nimmt keine Angebote und Annahmeerklärungen entgegen.</li>
  <li>Zwischen dem Betreiber und den Nutzern der Tauschbörse bestehen keine vertraglichen Beziehungen. Der Betreiber wird nicht Vertragspartner der ausschließlich zwischen den Nutzern der Tauschbörse geschlossenen Verträge oder Vereinbarungen.</li> 
  <li>Der Betreiber behält sich vor, den Inhalt der Einträge zu prüfen. Ein Anspruch auf Veröffentlichung eines Angebots/Inserats besteht nicht.</li>
  <li>Einträge, die den Nutzungsbedingungen zuwiderlaufen, insbesondere Werbeeinträge, Einträge, deren Inhalt gegen geltendes Recht oder die guten Sitten verstoßen, werden ohne Angabe von Gründen und ohne Benachrichtigung des Nutzers gelöscht.</li>
  <li>Unvollständige Einträge (z. B. unvollständige Absenderangaben) werden nicht veröffentlicht.</li>
  <li>Links auf andere Webseiten, Java, Javascript und Werbebanner oder animierte GIFs dürfen nicht eingepflegt werden.</li>
  <li>Das Einstellen von Bildern und Fotos, die die Rechte Dritter, insbesondere Urheber-, Marken- oder Namensrechte verletzen, ist nicht zulässig.</li>
</ul>

<h2>Haftung/Gewährleistung</h2>
<ul>
  <li>Der Betreiber der Tauschbörse ist kein Vermittler zwischen den Anbietern und Abnehmern, sondern stellt lediglich die Internet-Plattform zur Verfügung.</li>
  <li>Der  Betreiber übernimmt keine Haftung und Gewähr für die Seriosität der Nutzer, den Inhalt der Online-Börse, insbesondere nicht für die Richtigkeit und Vollständigkeit der Angaben sowie keine Haftung für die Qualität der angebotenen Gegenstände.</li>
  <li>Der Betreiber der Tauschbörse übernimmt keine Gewähr für die jederzeitige Verfügbarkeit der Webseite sowie deren technische Störungsfreiheit.</li>
  <li>Der Nutzer haftet dafür, dass ggf. übermittelte Daten virenfrei sind.</li>
  <li>Ein Rechtsanspruch auf dauerhafte, kostenlose Nutzung der Tauschbörse besteht nicht.</li>
  <li>Der jeweilige Anbieter gewährleistet gegenüber dem Betreiber der Börse sowie gegenüber eventuellen Interessenten, dass er Eigentümer und rechtmäßiger Besitzer der Sache ist, über diese frei verfügen kann und die angebotene Sache nicht mit Rechten Dritter belastet ist.</li>
</ul>
{% endblock %}