{% extends 'base.html' %}

{% block content %}
<h5 class="card-title">Kategorie {{ object.title }}{% if object.parent %} in {{ object.parent }}{% endif %}</h5>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Angebote
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          <div class="card-text table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Anbieter</th>
                  <th scope="col">Bietet</th>
                  <th scope="col">Sucht dafür</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
              {% for listing in object.pushs %}
                <tr>
                  <td>{% with user=listing.user %}{% include 'user/inc/link.html' %}{% endwith %}</td>
                  <td>{% include 'listing/inc/link.html' %} {{ listing.title }}</td>
                  <td>{% for listing in listing.user.pulls %}{% include 'listing/inc/link.html' %}{%endfor%}</td>
                  <td><a class="btn btn-outline-primary btn-sm" href="{% url 'deal_user_create' user.pk %}" role="button">handeln</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Anfragen
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class="card-text table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Anfrager</th>
                    <th scope="col">Sucht</th>
                    <th scope="col">Bietet dafür</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for listing in object.pulls %}
                  <tr>
                    <td>{% with user=listing.user %}{% include 'user/inc/link.html' %}{% endwith %}</td>
                    <td>{% include 'listing/inc/link.html' %} {{ listing.title }}</td>
                    <td>{% for listing in listing.user.pushs %}{% include 'listing/inc/link.html' %}{%endfor%}</td>
                    <td><a class="btn btn-outline-primary btn-sm" href="{% url 'deal_user_create' user.pk %}" role="button">handeln</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
      </div>
    </div>
  </div>
</div>
    

{% if object.user == request.user%}<a href="{% url 'listing_update' object.type object.pk %}">Bearbeiten</a>{% endif %}
{% endblock %}
