{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="container-fluid">
  <h3>Kategorien</h3>
  <div class="row">
    <div class="col-6 col-sm- col-md-4">
      <b><a class="text-info" href="{% url 'category_create' %}"><i class="fas fa-plus"></i> Kategorie</a></b>
    </div>
    <div class="col-6 col-md-4">
      <div class="row">
        <div class="col-4" title="Anfragen"><b>Anf</b></div>
        <div class="col-4" title="Angebote"><b>Ang</b></div>
        <div class="col-4" title="Gesamt"><b>Ges</b></div>
      </div>
    </div>
    <div class="col-6 col-md-2 d-flex justify-content-end"></div>
    <div class="col-6 col-md-2 d-flex justify-content-end"></div>
  </div>
  {% for category in categories %}
  <div class="row border-top">
    <div class="col-6 col-md-4">
      {% include 'category/inc/link.html' %}
    </div>
    <div class="col-6 col-md-4">
      <div class="row">
        <div class="col-4">{{ category.pushs|length }}</div>
        <div class="col-4">{{ category.pulls|length }}</div>
        <div class="col-4">{{ category.listings|length }}</div>
      </div>
    </div>
    <div class="col-6 d-none d-sm-block d-md-none"></div>
    <div class="col-6 col-sm-3 col-md-2 d-flex justify-content-end">
      <a class="text-info" style="white-space:nowrap;" href="{% url 'category_listing_create' 'push' category.pk %}"><i class="fas fa-plus"></i> Angebot</a>
    </div>
    <div class="col-6 col-sm-3 col-md-2 d-flex justify-content-end" title="{{ listing.modified }}">
      <a class="text-info" style="white-space:nowrap;" href="{% url 'category_listing_create' 'pull' category.pk %}"><i class="fas fa-plus"></i> Anfrage</a>
    </div>
  </div>
  {% endfor %}
  <a class="text-info" href="{% url 'category_create' %}"><i class="fas fa-plus"></i> Kategorie</a>
</div>
{% endblock %}
