{% extends 'base.html' %}

{% block content %}
<div class=" table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Kategorie</th>
        <th scope="col">Angebote / Anfragen / Gesamt</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for category in categories %}
      <tr>
        <td>{% include 'category/inc/link.html' %}</td>
        <td>
{{ category.pushs|length }} / {{ category.pulls|length }} / {{ category.listings|length }}
        </td>
        <td><a class="btn btn-info btn-sm text-white py-0 px-2" href="{% url 'category_listing_create' 'push' category.pk %}"><i class="fas fa-plus"></i> Angebot erstellen</a></td>
        <td><a class="btn btn-info btn-sm text-white py-0 px-2" href="{% url 'category_listing_create' 'pull' category.pk %}"><i class="fas fa-plus"></i>Anfrage erstellen</a></td>
      </tr>
    {% endfor %}
      <tr>
        <td><a class="text-info" href="{% url 'category_create' %}"><i class="fas fa-plus"></i> Kategorie</a></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
