{% load static %}
{% load humanize %}
{% load i18n %}
<div class="container">
  <div class="row">
    <div id="toggler" class="col">
      <h2>{% trans '_your'|title %} {% trans 'objects' %}</h2>
    </div>
    <div id="toggler" class="col-auto">
      <button class="toggler-off collapse btn btn-link p-0 text-info py-3 float-right" onclick="$('.toggler').hide();$('.toggler-on').show();$('.toggler-off').hide()">
        <i class="fas fa-toggle-on"></i>
      </button>
      <button class="toggler-on collapse show btn btn-link p-0 text-info py-3 float-right" onclick="$('.toggler').show();$('.toggler-on').hide();$('.toggler-off').show()">
        <i class="fas fa-toggle-off"></i>
      </button>
    </div>
  </div>
</div>

<div class="accordion" id="userObjectsAccordion">
  {% if user == request.user %}
    {% with markets=request.user.markets %}
    <div class="card">
      <div class="card-header py-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <button class="btn btn-link btn-block text-left p-0 text-dark py-3" type="button" data-toggle="collapse" data-target="#markets" aria-expanded="true" aria-controls="markets">
                {{ symbols.market|safe }} {% trans 'markets' %} ({{ markets|length }})
              </button>
            </div>
            <div class="col-auto d-flex justify-content-end">
              <a class="btn btn-link p-0 text-info py-3" href="{% url 'market_create' %}?next={{ request.path }}"><i class="fas fa-plus"></i> {% trans 'market' %}</a>
            </div>
          </div>
        </div>
      </div>
      <div id="markets" class="toggler collapse" aria-labelledby="headingOne" data-parent="#userObjectsAccordion">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row mb-5 py-3">
              <div class="col-12">
                  {% include 'market/solo/market_list.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endwith %}
  
    {% with deals=request.user.deals %}
    <div class="card">
      <div class="card-header py-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <button class="btn btn-link btn-block text-left p-0 text-dark py-3" type="button" data-toggle="collapse" data-target="#deals" aria-expanded="true" aria-controls="deals">
                {{ symbols.deal|safe }} {% trans 'deals' %} ({{ deals|length }})
              </button>
            </div>
            <div class="col-auto d-flex justify-content-end">
              <a class="btn btn-link p-0 text-info text-nowrap py-3" href="{% url 'deal_create' %}?next={{ request.path }}"><i class="fas fa-plus"></i> {% trans 'deal' %}</a>
            </div>
          </div>
        </div>
      </div>
      <div id="deals" class="toggler collapse" aria-labelledby="headingOne" data-parent="#userObjectsAccordion">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row mb-5 py-3">
              <div class="col-12">
                  {% include 'deal/solo/deal_list.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endwith %}
  
    {% with locations=request.user.locations %}
    <div class="card">
      <div class="card-header py-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <button class="btn btn-link btn-block text-left p-0 text-dark py-3" type="button" data-toggle="collapse" data-target="#locations" aria-expanded="true" aria-controls="locations">
                {{ symbols.location|safe }} {% trans 'locations' %} ({{ locations|length }})
              </button>
            </div>
            <div class="col-auto d-flex justify-content-end">
              <a class="btn btn-link p-0 text-info py-3" href="{% url 'location_create' %}?next={{ request.path }}"><i class="fas fa-plus"></i> {% trans 'location' %}</a>
            </div>
          </div>
        </div>
      </div>
      <div id="locations" class="toggler collapse" aria-labelledby="headingOne" data-parent="#userObjectsAccordion">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row mb-5 py-3">
              <div class="col-12">
                  {% include 'location/solo/location_list.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endwith %}
  {% endif %}

  {% with listings=user.pushs %}
  {% with type='push' %}
  <div class="card">
    <div class="card-header py-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <button class="btn btn-link btn-block text-left p-0 text-dark py-3" type="button" data-toggle="collapse" data-target="#pushs" aria-expanded="true" aria-controls="pushs">
              {{ symbols.push|safe }} {% trans 'offerings' %} ({{ listings|length }})
            </button>
          </div>
          <div class="col-auto d-flex justify-content-end">
            <a class="btn btn-link p-0 text-info py-3" href="{% url 'listing_create' 'push' %}?next={{ request.path }}">
              <i class="fas fa-plus"></i> {% trans 'offer' %}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="pushs" class="toggler collapse" aria-labelledby="headingOne" data-parent="#userObjectsAccordion">
      <div class="card-body">
        <div class="container-fluid">
          <div class="row mb-5 py-3">
            <div class="col-12">
                  {% include 'listing/solo/listing_type_list.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endwith %}
  {% endwith %}

  {% with listings=user.pulls %}
  {% with type='pull' %}
  <div class="card">
    <div class="card-header py-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <button class="btn btn-link btn-block text-left p-0 text-dark py-3" type="button" data-toggle="collapse" data-target="#pulls" aria-expanded="true" aria-controls="pulls">
              {{ symbols.pull|safe }} {% trans 'requests' %} ({{ listings|length }})
            </button>
          </div>
          <div class="col-auto d-flex justify-content-end">
            <a class="btn btn-link p-0 text-info py-3" href="{% url 'listing_create' 'pull' %}?next={{ request.path }}">
              <i class="fas fa-plus"></i> {% trans 'seek' %}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="pulls" class="toggler collapse" aria-labelledby="headingOne" data-parent="#userObjectsAccordion">
      <div class="card-body">
        <div class="container-fluid">
          <div class="row mb-5 py-3">
            <div class="col-12">
                  {% include 'listing/solo/listing_type_list.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endwith %}
  {% endwith %}
</div>