{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block help %}
  {% include 'solo/about.html' %}
{% endblock %}

{% block head %}
  <script>
    $(document).ready(function() {
      $(function(){
          //$("#direct_deal_button").click(function() {
              $.ajax({
                url : "{% url 'ajax_deals_direct' %}",
                type: 'GET',
                success: function(data){
                    $('#direct_deals').html(data);
                }
              })
          //});
      })
      $(function(){
        $("#triangular_deal_button").click(function() {
          $.ajax({
            url : "{% url 'ajax_deals_triangular' %}",
            type: 'GET',
            success: function(data){
              $('#triangular_deals').html(data);
            }
          })
        });
      }) 
      $(function(){
        $("#speculative_deal_button").click(function() {
          $.ajax({
            url : "{% url 'ajax_deals_speculative' %}",
            type: 'GET',
            success: function(data){
              $('#speculative_deals').html(data);
            }
          })
        });
      }) 
    }); 
  </script>
{% endblock %}


{% block content %}
<div class="container-fluid">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <h5><b>Tausch-Möglichkeiten</b></h5>
      </div>
      <div class="col mb-1 d-flex align-items-stretch">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/deal_type_1.svg' %}" class="card-img-top p-3" alt="direct deal">
          <div class="card-body">
            <h5 class="card-title">Direkter Tausch</h5>
            <p class="card-text">Übereinstimmung - direkter Tausch möglich</p>
          </div>
        </div>
      </div>
      <div class="col mb-1 d-flex align-items-stretch">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/deal_type_2.svg' %}" class="card-img-top p-3" alt="direct deal">
          <div class="card-body">
            <h5 class="card-title">Dreieckstausch</h5>
            <p class="card-text">Keine Übereinstimmung - tausche zu dritt</p>
          </div>
        </div>
      </div>
      <div class="col mb-1 d-flex align-items-stretch">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/deal_type_3.svg' %}" class="card-img-top p-3" alt="direct deal">
          <div class="card-body">
            <h5 class="card-title">Spekulativer Tausch</h5>
            <p class="card-text">A tauscht mit B für Tausch mit C</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button id="direct_deal_button" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#direct_deals" aria-expanded="true" aria-controls="direct_deals">
          {% trans 'direct'|title %} {% trans 'deals' %}
        </button>
      </h2>
    </div>
    <div id="direct_deals" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="container">
        <div class="row">
          <div class="col w-100 d-flex justify-content-center" style="height: 100px;">
            <div class="spinner-border my-auto" role="status">
              <span class="sr-only">{% trans 'load'|title %} {% trans 'data' %} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0" data-toggle="tooltip" title="Noch nicht implementiert!">
        <button disabled id="triangular_deal_button" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#triangular_deals" aria-expanded="false" aria-controls="triangular_deals">
          {% trans 'triangle'|title %} {% trans 'deals' %}
        </button>
      </h2>
    </div>
    <div id="triangular_deals" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="container">
        <div class="row">
          <div class="col w-100 d-flex justify-content-center" style="height: 100px;">
            <div class="spinner-border my-auto" role="status">
              <span class="sr-only">{% trans 'load'|title %} {% trans 'data' %} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0" data-toggle="tooltip" title="Noch nicht implementiert!">
        <button disabled id="speculative_deal_button" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#speculative_deals" aria-expanded="false" aria-controls="speculative_deals">
          {% trans 'speculative'|title %} {% trans 'deals' %}
        </button>
      </h2>
    </div>
    <div id="speculative_deals" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="container">
        <div class="row">
          <div class="col w-100 d-flex justify-content-center" style="height: 100px;">
            <div class="spinner-border my-auto" role="status">
              <span class="sr-only">{% trans 'load'|title %} {% trans 'data' %} ...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- 
<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="direct-tab" data-toggle="tab" href="#direct" role="tab" aria-controls="direct"
        aria-selected="true">{% trans 'direct'|title %} {% trans 'deal' %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="triangular-tab" data-toggle="tab" href="#triangular" role="tab" aria-controls="triangular"
        aria-selected="false" onclick="">{% trans 'triangle'|title %} {% trans 'deal' %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="speculative-tab" data-toggle="tab" href="#speculative" role="tab" aria-controls="speculative"
        aria-selected="false" onclick="">{% trans 'speculative'|title %} {% trans 'deal' %}</a>
    </li>
  </ul>
  <div class="tab-content py-3 border-left border-right border-bottom" id="myTabContent">
  
    <div class="tab-pane fade show active" id="direct" role="tabpanel" aria-labelledby="direct-tab">
      <div class="container">
        <div class="row">
          <div class="col w-100 d-flex justify-content-center" style="height: 100px;">
            <div class="spinner-border my-auto" role="status">
              <span class="sr-only">{% trans 'load'|title %} {% trans 'data' %} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="triangular" role="tabpanel" aria-labelledby="two-tab">
      <div class="container">
        <div class="row">
          <div class="col w-100 d-flex justify-content-center" style="height: 100px;">
            <div class="spinner-border my-auto" role="status">
              <span class="sr-only">{% trans 'load'|title %} {% trans 'data' %} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="speculative" role="tabpanel" aria-labelledby="speculative-tab">
      <div class="container">
        <div class="row">
          <div class="col w-100 d-flex justify-content-center" style="height: 100px;">
            <div class="spinner-border my-auto" role="status">
              <span class="sr-only">{% trans 'load'|title %} {% trans 'data' %} ...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
{% endblock %}
