html, body {
	height: 99%;
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

textarea {
	width: 100%;
}

.borderless td, .borderless th {
	border: none;
}

input {
	width: 100%;
}

.hide-empty:empty {
	display: none;
}

nav .nav-link {
	color: #cfe7ff;
}

nav .nav-link:hover {
	color: #fff;
}
