{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container-fluid bg-white">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{% trans 'from'|title %}</th>
          <th scope="col">{% trans 'partner'|title %}</th>
          <th scope="col">{% trans 'created'|title %}</th>
          <th scope="col">{% trans 'current'|title %}</th>
        </tr>
      </thead>
      <tbody>
  {% for bid in object_list %}
        <tr>
          <th scope="row"><a href="{% url 'bid_detail' bid.pk %}">{{ bid.pk }}</a></th>
          <td>{% for user in bid.get_users %}{% include 'user/inc/link.html' %}{% endfor %}</td>
          <td>{{ bid.partner }}</td>
          <td>{{ bid.datetime }}</td>
          <td>{{bid.is_latest}}</td>
        </tr>
  {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-outline-primary btn-sm" href="" role="button">{% trans 'create'|title %} {% trans 'bid'|title %}</a>
</div>
{% endblock %}