{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<form method="post">{% csrf_token %}
<table>
      <tr>
        <td colspan=3><h3>{% trans 'give'|title %}</h3></td>
      </tr>
      {% for field in push_form %}
      <tr>
        <td>{% with listing=field.field.listing %}{% include 'listing/inc/link.html' %}{% endwith %}
          {{ field.field.listing.title }}
        </td>
        <td>{{ field }}</td>
        <td>{{ field.field.unit.title }} ({{ field.field.unit.short }})</td>
      </tr>
      {% endfor %}

      <tr>
        <td colspan=3 class="pt-5"><h3>{% trans 'take'|title %}</h3></td>
      </tr>
      {% for field in pull_form %}
      <tr>
        <td>{% with listing=field.field.listing %}{% include 'listing/inc/link.html' %}{% endwith %}
          {{ field.field.listing.title }}
        </td>
        <td>{{ field }}</td>
        <td>{{ field.field.unit.title }} ({{ field.field.unit.short }})</td>
      </tr>
      {% endfor %}

    <tr>
      <td>{% trans 'comment'|title %}:</td>
      <td colspan=3 class="pt-5">{{ form.comment }}</td></tr>
    <tr><td colspan=3 class="pt-5"><input type="submit" value="{% trans 'save'|title %}"></td></tr>
</table>
</form>
<!-- 
<form>
  <div class="form-group">
    <label for="formControlRange">Example Range input</label>
    <input type="range" class="form-control-range" id="formControlRange">
  </div>
</form>
 -->
{% endblock %}
