{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block help %}
  {% include 'user/inc/help.html' %}
{% endblock %}

{% block title %}Sign in{% endblock %}


{% block head %}
<script>
function login_demo(){
	$('#id_username').val('demo');
	$('#id_password').val('demo123');
	$('#user_form').submit();
}
</script>
<style>
.text-shadow{
  text-shadow: 5px 5px 5px #b9b9b9;
}
</style>
{% endblock %}

{% block content %}
<div class="row mb-5 mt-3">
<div class="col-12 d-flex justify-content-center" style="font-size:xx-large;">Willkommen bei</div>
</div>
<div class="row justify-content-center mb-5 mt-3">
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
    <div class="row">
      <div class="col-12">
        <img src="{% static 'images/logo_full.svg' %}" class="" style="width: 100%;" alt="">
      </div>      
      <div class="col-12 d-flex justify-content-end mt-3">
        <p class="text-monospace text-secondary">v{{ version_str }}</p>
      </div>      
    </div>
  </div>
</div>
<hr class="my-5">
<div class="row">
  <div class="col">
    <h1 class="m-0">{% trans 'login'|title %}</h1>
    <hr class="m-0">
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg d-flex">
    <h2 class="align-self-center m-0">{% trans 'with' %}</h2>
  </div>
  <!-- 
  <div class="col px-0 px-sm-3 d-flex justify-content-center">
    <a class="btn btn-link mt-2 d-flex text-shadow" href="{% url 'social:begin' 'google-oauth2' %}">
      <i class="fab fa-google-plus-square fa-3x" style="color:#4285f4;"></i>
      <span class="d-none d-md-block align-self-center pl-2 text-info"><b>Google</b></span>
    </a>
  </div>
   -->
  <div class="col px-0 px-sm-3 d-flex justify-content-center">
    <a class="btn btn-link mt-2 d-flex text-shadow" href="{% url 'social:begin' 'github' %}">
      <i class="fab fa-github-square fa-3x" style="color:#171515;"></i>
      <span class="d-none d-md-block align-self-center pl-2 text-info"><b>Github</b></span>
    </a>
  </div>
  <div class="col px-0 px-sm-3 d-flex justify-content-center">
    <a class="btn btn-link mt-2 d-flex text-shadow" href="{% url 'social:begin' 'twitter' %}">
      <i class="fab fa-twitter-square fa-3x" style="color:#1dabdd;"></i>
      <span class="d-none d-md-block align-self-center pl-2 text-info"><b>Twitter</b></span>
    </a>
  </div>
  <div class="col px-0 px-sm-3 d-flex justify-content-center">
    <a class="btn btn-link mt-2 d-flex text-shadow" href="{% url 'social:begin' 'facebook' %}">
      <i class="fab fa-facebook-square fa-3x" style="color:#3b579d;"></i>
      <span class="d-none d-md-block align-self-center pl-2 text-info"><b>Facebook</b></span>
    </a>
  </div>
  <!-- 
  <div class="col px-0 px-sm-3 d-flex justify-content-center">
    <a class="btn btn-link mt-2 d-flex text-shadow" href="{% url 'social:begin' 'instagram' %}">
      <i class="fab fa-instagram-square fa-3x" style="color:#d22158;"></i>
      <span class="d-none d-md-block align-self-center pl-2 text-info"><b>Instagram</b></span>
    </a>
  </div>
   -->
  <div class="col-12">
    <hr class="m-0">
  </div>
</div>
<div class="row">
  <div class="col d-flex">
    <h2 class="align-self-center m-0">{% trans 'or' %}</h2>
  </div>
  <div class="col-auto d-flex justify-content-end align-items-end">
    <a class="btn btn-link text-info mt-2" href="{% url 'user_create' %}"><i class="fas fa-user-plus"></i> {% trans 'free'|title %} {% trans 'signup' %}</a>
  </div>
</div>
<div class="row">
  <div class="container">
	<form id="user_form"  method="post" enctype="multipart/form-data">
		{% if form.errors %}
		<div class="alert alert-danger" role="alert">
			{{ form.errors }}
			</div>
		{% else %}
		{% endif %}
		{% csrf_token %}
		<table class="table table-striped table-bordered table-hover">
			{{ form.as_table }}
		</table>
		<button class="btn btn-primary btn-block" type="submit">{% trans 'login'|title %}</button>
	</form>
</div>
</div>
{% endblock %}
