{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block title %}{% trans 'your'|title %} {% trans 'profile' %}{% endblock %}

{% block help %}
  {% include 'user/inc/help.html' %}
{% endblock %}


{% block content %}
<div class="container rounded border p-4">
  <div class="row">
    <div class="col-12">
      <h5>
        {{ symbols.user|safe }}
        {% if user == request.user %}
          {% trans 'your'|title %}
        {% else %}
          {{ user|title }}'s
        {% endif %}
        {% trans 'profile' %}
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <div class="rounded border d-flex justify-content-center" style="width:200px;height:200px;">
        <img class="img-thumbnail" src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'images/default_user.png' %}{% endif %}" style="object-fit: cover;{% if not user.image %}opacity: 0.3;{% endif %}">
      </div>
    </div>
    <div class="col-12 col-md">
      <div class="row my-3 border-top">
        <div class="col">
          <div class="row">
            <div class="col">
              <b>{% trans 'name'|title %}:</b>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ user }}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <b>{% trans 'level'|title %}:</b>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ user.level }}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <b>{% trans 'experience'|title %}:</b>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ user.exp }}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <b>{% trans 'member'|title %} {% trans 'since' %}:</b>
            </div>
          </div>
          <div class="row" title="{{ user.date_joined|naturaltime }}" data-toggle="tooltip">
            <div class="col">
              {{ user.date_joined }}</div>
            </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <b>{% trans 'feedback'|title %}:</b>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {% if user.score %}
                <a href="{% url 'feedback_detail' 'user' user.pk %}">
                  {% with score=user.score %}
                    {% include 'feedback/inc/score.html' %}
                  {% endwith %}
                </a>
              {% else %}
                {% trans 'no data' %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="row my-3 border-top">
        <div class="col">
          <div class="row">
            <div class="col">
              <b>{% trans 'description'|title %}:</b>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ user.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="mt-5 mb-0">
<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-12 mb-5">
      {% if object.pk == request.user.pk %}
        <a class="btn btn-link float-right" href="{% url 'user_update' %}?next={{ request.path }}">{{ symbols.update|safe }} {% trans 'update' %}</a>
        <!-- <a class="btn btn-link float-right" href="{% url 'user_settings' %}?next={{ request.path }}"><i class="fas fa-cog"></i> {% trans 'settings' %}</a> -->
        <a class="btn btn-link float-right" href="{% url 'user_pw' %}?next={{ request.path }}"><i class="fas fa-key"></i> {% trans 'password' %}</a>
        <a class="btn btn-link float-right" href="{% url 'user_logout' %}"><i class="fas fa-sign-out-alt"></i> {% trans 'logout' %}</a>
      {% endif %}
    </div>
  </div>
</div>

{% if request.user.open_feedback and request.user == user %}
  <div class="container">
    <div class="row border rounded mb-5 py-3">
      <div class="col-12">
        {% with markets=request.user.markets %}
          {% include 'feedback/solo/feedback_to_give_list.html' %}
        {% endwith %}
      </div>
    </div>
  </div>
{% endif %}

{% include 'user/solo/user_objects.html' %}

{% if deal and user != request.user %}
  {% include 'deal/solo/deal_detail.html' %}
{% endif %}

{% endblock %}

