{% load static %}
{% load i18n %}
<div class="row justify-content-center mb-5">
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
    <div class="row">
      <div class="col-12">
        <img src="{% static 'images/logo_full.svg' %}" class="" style="width: 100%;" alt="">
      </div>      
      <div class="col-12 d-flex justify-content-end mt-3">
        <p class="text-monospace text-secondary">v{{ version_str }}</p>
      </div>      
    </div>
  </div>
</div>
<hr class="my-5">
<div class="row">
  <div class="col-12 col-lg d-flex align-items-stretch">
    <div class="alert alert-success" role="alert">
      <h5><img src="{% static 'images/font.svg' %}" style="width:100%;max-width:250px;"></h5>
      <p>… ist eine währungsfreie Tauschbörse für Waren und Dienstleistungen. Die Nutzung ist und bleibt kostenlos (spendenfinanziert).</p>
      <p>… gibt Nutzern die Möglichkeit, einfach und effizient zu tauschen, insbesondere auch dann, wenn Geld diesen Zweck nicht mehr erfüllen kann.</p>
      <p>… kann komplexe Tauschvorgänge berechnen, um die Möglichkeiten zu erweitern.</p>
      <p>… soll die Menschen heute zusammen bringen, um sie morgen in einer Wirtschafts- bzw. Währungskrise mit dem Nötigen versorgen zu können.</p>
      <p>… lässt auch Menschen ohne Geldvermögen wieder an der Gesellschaft teilhaben.</p>
      <p>… kannst du hier unterstützen:<br>
      <a class="btn btn-link p-0" href="{% url 'donate' %}">nomoney.shop/spende</a></p>
      <p>… ist freie Software (Lizenz: GNU GPLv3). Das bedeutet, du darfst damit auch gerne deine eigene Tauschbörse erstellen.</p>
      <p>… ist Open Source. Zum Quellcode:<br>
      <a class="btn btn-link p-0" target="_blank" href="https://github.com/snake-soft/nomoney.shop">github.com/snake-soft/nomoney.shop</a></p>
    </div>
  </div>
  <div class="col-12 col-lg-auto d-flex align-items-stretch">
    <div class="alert alert-primary" role="alert">
      <h5><b>Funktionen</b></h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background-color:unset;">{{ symbols.push|safe }} Angebote und {{ symbols.pull|safe }} Nachfragen erstellen</li>
        <li class="list-group-item" style="background-color:unset;">{{ symbols.deal|safe }} Mögliche Tauschvorgänge finden</li>
        <li class="list-group-item" style="background-color:unset;">{{ symbols.bid|safe }} Tauschvereinbarung aushandeln</li>
        <li class="list-group-item" style="background-color:unset;">{{ symbols.location|safe }} Orte erstellen für Umkreissuche</li>
        <li class="list-group-item" style="background-color:unset;">{{ symbols.market|safe }} Märkte für regelmäßige Treffen</li>
        <li class="list-group-item" style="background-color:unset;">{{ symbols.feedback|safe }} Bewertungen erstellen</li>
        <li class="list-group-item" style="background-color:unset;">{{ symbols.chat|safe }} Integrierte Kommunikation (Chat)</li>
        <li class="list-group-item" style="background-color:unset;">{{ symbols.calculator|safe }} Tauschwert-Empfehlung</li>
      </ul>
    </div>
  </div>
</div>