{% load static %}
{% load i18n %}
<div class="row justify-content-center mb-5">
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
    <img src="{% static 'images/logo_full.svg' %}" class="" style="width: 100%;" alt="">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="alert alert-info" role="alert">
      <b>Herzlich willkommen auf der währungsfreien Tauschbörse für Waren und Dienstleistungen.</b>
      <hr>
      Dies ist ein freies Open Source Projekt ohne Gewinnerzielungsabsicht.
      <br>
      Das bedeutet, die Nutzung ist und bleibt kostenlos.
      <hr>
      Sollte dich nomoney.shop glücklich machen, wäre es sehr nett, wenn du dich mit deinen Fähigkeiten und / oder einer kleinen Spende beteiligen würdest.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-6">
    <div class="alert alert-success" role="alert">
      <b>Ziele von nomoney.shop:</b>
      <br>
      Allen Nutzern die Möglichkeit zu geben, einfach und effizient Waren und Dienstleistungen zu tauschen, insbesondere wenn Geld diesen Zweck nicht mehr erfüllen kann.
      <hr>
      Diese Tauschbörse soll die Menschen heute zusammen bringen, um sie morgen in einer Wirtschafts- bzw. Währungskrise mit dem Nötigen versorgen zu können.
      <hr>
      Nicht zuletzt können sich auch Menschen ohne Geldvermögen auf diesem Wege wieder an der Gesellschaft beteiligen.
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="alert alert-primary" role="alert">
      <b>Bisher implementierte Funktionen:</b>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background-color:unset;">Angebote und Nachfragen erstellen</li>
        <li class="list-group-item" style="background-color:unset;">Passende Handelspartner finden</li>
        <li class="list-group-item" style="background-color:unset;">Orte erstellen <del data-toggle="tooltip", title="Noch nicht implementiert">und als Suchfilter verwenden</del></li>
        <li class="list-group-item" style="background-color:unset;">Märkte erstellen (z.B. für regelmäßige Treffen)</li>
        <li class="list-group-item" style="background-color:unset;">Tauschangebote und Gegenangebote abgeben</li>
        <li class="list-group-item" style="background-color:unset;">Benutzer- und Angebotsbewertung</li>
        <li class="list-group-item" style="background-color:unset;">Chat-System</li>
      </ul>
    </div>
  </div>
</div>