{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <form method="post" action="{%url 'chat_new_message' object.pk %}">{% csrf_token %}
    <div class="row">
      <div class="col p-0">
        <div class="form-group m-0">
          {{ form.text }}
        </div>
      </div>
      <div class="col-1 p-1">
        <button type="submit" class="btn btn-primary h-100">Senden</button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table">
          <tbody>
          {% for message in object.messages %}
            <tr>
              <td class="col-1">{{ message.creator }}</td>
              <td class="col-9">{{ message.text }}</td>
              <td class="col-2">{{ message.created }}</td>
            </tr>
          </tbody>
          {% empty %}
          <p>Noch keine Nachrichten.</p> 
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}