{% load i18n %}
{% if chat.type == 100 %}
  <a target="_blank" class="btn btn-link p-0 text-dark" href="{% url 'chat_detail' chat.pk %}" data-toggle="tooltip" title="{% trans 'lobby'|title %} {% trans 'chat' %}">
    {{ symbols.lobby|safe }} {{ symbols.message_regular|safe }} {% if use_title %}{{ chat }}{% endif %}
  </a>
{% elif chat.type == 20 %}
  <a target="_blank" class="btn btn-link p-0 text-dark" href="{% url 'chat_detail' chat.pk %}" data-toggle="tooltip" title="{% trans 'market'|title %} {% trans 'chat' %}">
    {{ symbols.market|safe }} {{ symbols.message_regular|safe }} {% if use_title %}{{ chat }}{% endif %}
  </a>
{% elif chat.type == 10 %}
  <a target="_blank" class="btn btn-link p-0 text-dark" href="{% url 'chat_detail' chat.pk %}" data-toggle="tooltip" title="{% trans 'user'|title %} {% trans 'chat' %}">
    {{ symbols.user|safe }} {{ symbols.message_regular|safe }} {% if use_title %}{{ chat }}{% endif %}
  </a>
{% elif chat.type == 0 %}
  <a target="_blank" class="btn btn-link p-0" href="{% url 'chat_detail' chat.pk %}" data-toggle="tooltip" title="{% trans 'default'|title %} {% trans 'chat' %}">
    default {% if use_title %}{{ chat }}{% endif %}
  </a>
{% endif %}