{% load static %}
{% load i18n %}
<nav id="main_menu" class="navbar navbar-expand shadow d-flex flex-wrap position-fixed w-100" style="z-index:10;top:0;background-color:rgb(29, 161, 242);">
    <ul class="col-auto navbar-nav mr-auto d-flex flex-wrap pr-0">
      {% if not request.user.pk %}
        <li class="nav-item">
          <a class="nav-link px-3" href="{% url 'user_create' %}"><i class="fas fa-user-plus"></i> {% trans 'signup'|title %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="{% url 'user_login' %}#user_form"><i class="fas fa-sign-in-alt"></i> {% trans 'login'|title %}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link p-0" href="{% url 'dashboard_home' %}">
            <!-- <img src="{% static 'images/logo.svg' %}" class="d-inline-block align-top" style="height:40px;" alt=""> -->
            <span class="nav-link pl-1 pt-1">
              <!-- <img src="{% static 'images/nomoney.shop.svg' %}" class="d-inline-block align-top" style="height:35px;" alt=""> -->
              <span class="mr-1">
                <img src="{% static 'images/logo.svg' %}" class="" style="width:25px;" alt=""></span>
                <b class="d-none d-md-inline-block"><span style="text-decoration: underline;">nomone</span><span>y</span><span class="position-relative" style="top:4px;">.shop</span></b>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="{% url 'user_detail' request.user.pk %}">{{ symbols.user|safe }}<span class="d-none d-sm-inline-block pl-1">{% trans 'profile' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="{% url 'category_list' %}">{{ symbols.category|safe }}<span class="d-none d-sm-inline-block pl-1">{% trans 'categories' %}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-3" href="{% url 'chat_list' %}">{{ symbols.chat|safe }}<span class="d-none d-sm-inline-block pl-1">{% trans 'chats' %}</span></a>
        </li>
      </ul>
      <ul class="col-auto navbar-nav ml-auto navbar-right pr-0">
        <li class="nav-item" title="{% trans 'help' %}">
          <button class="nav-link btn btn-link help_button"><i class="fas fa-info-circle"></i></button>
        </li>
        <li class="nav-item">
          <div id="search_box" class="collapse d-lg-block panel-collapse width float-right">
          <fieldset{% if not request.user.is_authenticated %} disabled{% endif %}>
            <form action="{% url 'search_basic' %}" class="form-inline" method="POST">{% csrf_token %}
              <input name="text" id="live_search" class="nav-link form-control mr-sm-2" type="search" placeholder="Suche ..." aria-label="Search" autocomplete="off">
            </form>
          </fieldset>
          </div>
        </li>
        <li class="nav-item d-inline-block d-lg-none">
          <a href="#search_box" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="search_box">
            {{ symbols.search|safe }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-stream"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'user_list' %}">{{ symbols.users|safe }} {% trans 'users' %}</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">nomoney.shop</h6>
            <a class="dropdown-item" href="{% url 'donate' %}"><i class="fas fa-hand-holding-heart"></i>&nbsp;{% trans 'donate'|title %}</a>
            <a class="dropdown-item" href="{% url 'terms' %}"><i class="far fa-handshake"></i>&nbsp;{% trans 'terms-and-conditions'|title %}</a>
            <a class="dropdown-item" href="{% url 'impressum' %}"><i class="fas fa-align-left"></i>&nbsp;{% trans 'impressum'|title %}</a>
            <a class="dropdown-item" href="{% url 'about' %}"><img src="{% static 'images/logo.svg' %}" class="" style="width:16px;" alt="">&nbsp;{% trans 'about' %}</a>
          </div>
        </li>
        <li class="nav-item">
        </li>
      {% endif %}
    </ul>
</nav>
      