{% load i18n %}

<div class="container">
  <div class="row">
    <div class="col-12">
        <h5>{{ symbols.chat|safe }} {% trans 'chat'|title %} {% trans 'overview' %}</h5>
    </div>
  </div>
  {% if chats %}
    <div class="row">
      <div class="col-4 col-md-2 order-1 order-md-1"><b>{% trans 'type'|title %}</b></div>
      <div class="col-12 col-md-8 order-4 order-md-2"><b>{% trans 'members'|title %}</b></div>
      <div class="col-4 col-md-1 order-2 order-md-3"><b>{% trans 'messages'|title %}</b></div>
      <div class="col-4 col-md-1 order-3 order-md-4 d-flex justify-content-end"></div>
    </div>
  {% endif %}
  {% for chat in chats %}
    <div class="row border-top">
      <div class="col-4 col-md-2 order-1 order-md-1">
        {% include 'chat/inc/link.html' %}{% if chat.unseen %}<span class="badge badge-secondary">{{ request.user.unseen_messages.all|length }}</span>{% endif %}
      </div>
      <div class="col-12 col-md-8 order-4 order-md-2">{% for user in chat.get_users %}{% include 'user/inc/link.html' %}, {% empty %}{% trans 'all' %}{% endfor %}</div>
      <div class="col-4 col-md-1 order-2 order-md-3">{{ chat.messages|length }}</div>
      <div class="col-4 col-md-1 order-3 order-md-4 d-flex justify-content-end">
        <a class="btn btn-link py-0" href="{% url 'chat_detail' chat.pk %}" title="{% trans 'detail' %}">{{ symbols.detail|safe }}</a>
      </div>
    </div>
  {% endfor %}
</div>
