{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-8">
        <h5>{{ symbols.user|safe }} {% trans 'members' %}</h5>
    </div>
    <div class="col-4 d-md-flex justify-content-end">
      {% if request.user in market.users.all %}
        <a class="btn btn-link p-0 text-info" href="{% url 'market_update' market.pk %}">{{ symbols.update|safe }} {% trans 'update' %}</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4 d-none d-lg-block col-xl-2"><b>{% trans 'member' %}</b></div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-5"><b>{% trans 'offer' %}</b></div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-5"><b>{% trans 'seek' %}</b></div>
  </div>
  {% for user in market.users.all %}
  <div class="row border-top py-3">
    <div class="col-12 col-lg-4 col-xl-2">{% include 'user/inc/link.html' %}</div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-5">{% for listing in user.pushs %}{% include 'listing/inc/link.html' %}{% endfor %}</div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-5">{% for listing in user.pulls %}{% include 'listing/inc/link.html' %}{% endfor %}</div>
  </div>
  {% endfor %}
</div>


<hr class="my-5">
{% include 'dashboard/ajax_2d.html' %}

{% endblock %}
