{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block help %}
  {% include 'solo/about.html' %}
{% endblock %}


{% block head %}
{% endblock %}


{% block content %}

{% if request.user.is_staff %}
  {% include 'user/inc/admin_tools.html' %}
  <hr class="my-5">
{% endif %}


{% if request.user.open_feedback %}
  <div class="row mb-5 py-3">
    <div class="col-12">
      {% with markets=request.user.markets %}
        {% include 'feedback/solo/feedback_to_give_list.html' %}
      {% endwith %}
    </div>
  </div>
  <hr class="my-5">
{% endif %}

  <div class="container">
    <div class="row">
      <div class="col-auto">{% trans 'recommended'|title %} {% trans 'actions' %}:</div>
    </div>

    <div class="row">
      {% if not request.user.locations %}
        <div class="col-auto mb-1">
          <a class="btn btn-warning" href="{% url 'location_create' %}"><i class="fas fa-plus"></i> {% trans 'location' %}</a>
        </div>
      {% endif %}
  
      {% if not request.user.pushs %}
        <div class="col-auto mb-1">
          <a class="btn btn-warning" href="{% url 'listing_create' 'push' %}"><i class="fas fa-plus"></i> {% trans 'push' %}</a>
        </div>
      {% endif %}
  
      {% if not request.user.pulls %}
        <div class="col-auto mb-1">
          <a class="btn btn-warning" href="{% url 'listing_create' 'pull' %}"><i class="fas fa-plus"></i> {% trans 'pull' %}</a>
        </div>
      {% endif %}

      {% if not request.user.markets and request.user.pushs and request.user.pulls  %}
        <div class="col-auto mb-1">
          <a class="btn btn-warning" href="{% url 'market_create' %}"><i class="fas fa-plus"></i> {% trans 'market' %}</a>
        </div>
      {% endif %}

      {% if not request.user.deals and request.user.pushs and request.user.pulls %}
        <div class="col-auto mb-1">
          <a class="btn btn-warning" href="{% url 'calculator' %}"><i class="fas fa-plus"></i> {% trans 'deal' %}</a>
        </div>
      {% endif %}

    </div>
  </div>
  <hr class="my-5">


{% if request.user.is_authenticated %}
  {% include 'user/solo/user_objects.html' %}
{% endif %}
{% endblock %}
