{% load static %}
<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #def58d;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">
      <img src="{% static 'logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      nomoney.shop
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      {% if request.user.pk %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.user }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'chat_list' %}">Chat</a>
          <!-- <a class="dropdown-item" href="#">History</a> -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'user_update' request.user.pk %}">Mein Profil</a>
          <a class="dropdown-item" href="{% url 'user_pw' request.user.pk %}">Passwort ändern</a>
          <a class="dropdown-item" href="{% url 'user_logout' %}">Ausloggen</a>
        </div>
        <!-- 
      <li class="nav-item">
        <a class="nav-link" href="{% url 'agent_list' %}">Agent</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listing_list' %}">Meine Einträge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'deal_list' %}">Meine Deals</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_create' %}">Registrieren</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_login' %}">Anmelden</a>
      </li>


      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'category_list' %}">Kategorien</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_list' %}">Benutzer</a>
      </li>
    </ul>
    <form action="{% url 'search_basic' %}" class="form-inline my-2 my-lg-0" method="POST">{% csrf_token %}
      <input name="text" class="form-control mr-sm-2" type="search" placeholder="Suche ..." aria-label="Search">
      <button name="search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Suche</button>
    </form>
  </div>
</nav>