{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-12"><h3>{% if object.pk %}Bearbeite{% else %}Erstelle neuen{% endif %} Eintrag</h3></div>
  </div>
  <form method="post">{% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.errors }}
      </div>
    {% else %}
    {% endif %}
    
    <table class="table table-striped table-bordered table-hover">
      {{ form.as_table }}
    </table>
    <button class="btn btn-primary btn-block" type="submit">Speichern</button>
  </form>
</div>
{% endblock %}