{% extends 'base.html' %}

{% block content %}
<h1>Meine Deals</h1>
<div class=" table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Partner</th>
        <th scope="col">Sucht</th>
        <th scope="col">Nimmt</th>
        <th scope="col">Akzeptiert</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
{% for deal in object_list %}
      <tr>
        <td>{% with user=deal.partner %}{% include 'user/inc/link.html' %}{% endwith %}</td>
        <td>{% for listing in deal.pushs %}{% include 'listing/inc/link.html' %} {% endfor %}</td>
        <td>{% for listing in deal.pulls %}{% include 'listing/inc/link.html' %} {% endfor %}</td>
        <td>{% if deal.accepted %}<span class="badge badge-success"><i class="fas fa-check"></i></span>{% endif %}</td>
        <td><a class="btn btn-outline-primary btn-sm" href="{% url 'deal_detail' deal.pk %}" role="button">Details</td>
      </tr>
{% endfor %}
    </tbody>
  </table>
  <a class="text-info" href="{% url 'deal_create' %}"><i class="fas fa-plus"></i> Deal erstellen</a>
</div>
{% endblock %}