{% extends 'base.html' %}
{% load static %}


{% block head %}
<script src="{% static "js/dashboard.js" %}"></script>
{% endblock %}

{% block content %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Herzlich willkommen!</strong> Hier kommt ein Hilfetext, der dauerhaft ausgeblendet wird, wenn man ihn schließt.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two"
      aria-selected="false" onclick="">Berechne Deals</a>
  </li>
  <!-- 
  <li class="nav-item">
    <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three"
      aria-selected="false">Berechne Gilden</a>
  </li>
   -->
</ul>
<div class="tab-content py-3" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="container-fluid mt-5">
      {% include 'listing/solo/listing_list.html' %}
      <hr class="my-5">
      {% with object_list=request.user.deals %}{% include 'deal/solo/deal_list.html' %}{% endwith %}
    </div>
  </div>
  <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
    <div class="container">
      <div class="row">
        <div class="col w-100 d-flex justify-content-center" style="height: 100px;">
          <div class="spinner-border my-auto" role="status">
            <span class="sr-only">Lade Daten...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
    <div class="container">
      <div class="row">
        <div class="col w-100 d-flex justify-content-center" style="height: 100px;">
          <div class="spinner-border my-auto" role="status">
            <span class="sr-only">Lade Daten...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
