{% load i18n %}

{% if deal.status == 0 %}
  <div class="btn btn-link py-0" title="{% trans 'virtual' %}" data-toggle="tooltip">
    <i class="fas fa-check text-success" ></i>
  </div>

{% elif deal.status == 10 %}
  <div class="btn btn-link py-0" title="{% trans 'started' %}" data-toggle="tooltip">
    <i class="fas fa-play-circle text-success"></i>
  </div>

{% elif deal.status == 20 %}
  <div class="btn btn-link py-0" title="{% trans 'placed' %}" data-toggle="tooltip">
    <i class="fas fa-tags text-success" ></i>
  </div>

{% elif deal.status == 100 %}
  <div class="btn btn-link py-0" title="{% trans 'accepted' %}" data-toggle="tooltip">
    <i class="fas fa-check-circle text-success" ></i>
  </div>

{% elif deal.status == 110 %}
  <div class="btn btn-link py-0" title="{% trans 'canceled' %}" data-toggle="tooltip">
    <i class="fas fa-ban text-success" ></i>
  </div>

{% else %}
  <div class="btn btn-link py-0">
    <i class="fas fa-question-circle" title="{% trans 'unknown' %}" data-toggle="tooltip"></i>
  </div>

{% endif %}
