{% load humanize %}
{% if user_feedback_open or push_feedback_open %}
<div class="container">
  <div class="row">
    <div class="col-auto"><b>Bewertungen abgeben:</b></div>
  {% for feedback in user_feedback_open %}
    <div class="col-auto border p-0">
      <a class="btn btn-link" href="{% url 'feedback_update' 'user' feedback.pk %}" role="button"><i class="fas fa-arrow-right"></i> Benutzer: {{ feedback.user }}</a>
    </div>
  {% endfor %}
  {% for feedback in push_feedback_open %}
    <div class="col-auto border p-0">
      <a class="btn btn-link" href="{% url 'feedback_update' 'push' feedback.pk %}" role="button"><i class="fas fa-arrow-right"></i> Angebots: {{ feedback.push.title }}</a>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}