{% load humanize %}
{% load i18n %}

{% block help %}{% endblock %}
<div class="row">
  <div class="col"><b>{% trans 'feedbacked'|title %}</b></div>
  {% if not feedbacks.0.creator == request.user %}
    <div class="col"><b>{% trans 'creator'|title %}</b></div>
  {% endif %}
  <div class="col"><b>{% trans 'created'|title %}</b></div>
  <div class="col"><b>{% trans 'score'|title %}</b></div>
  <div class="col"><b>{% trans 'deal'|title %}</b></div>
  <div class="col"><b>{% trans 'subject'|title %}</b></div>
  <div class="col"><b>{% trans 'text'|title %}</b></div>
</div>
{% for feedback in feedbacks %}
<div class="row border-top">
  <div class="col">
    {% if feedback.type == 'user' %}
      {% with user=feedback.object %}{% include 'user/inc/link.html' %}{% endwith %}
    {% elif feedback.type == 'push' %}
      {% with listing=feedback.object %}{% include 'listing/inc/link.html' %}{% endwith %}
    {% endif %}
  </div>
  {% if not feedbacks.0.creator == request.user %}
    <div class="col">{% with user=feedback.creator %}{% include 'user/inc/link.html' %}{% endwith %}</div>
  {% endif %}
  <div class="col">{{ feedback.created|naturaltime }}</div>
  <div class="col">{% if feedback.score %}{% with score=feedback.score %}{% include 'feedback/inc/score.html' %}{% endwith %}{% endif %}</div>
  <div class="col">{% with deal=feedback.deal %}{% include 'deal/inc/link.html' %}{% endwith %}</div>
  <div class="col">{{ feedback.subject }}</div>
  <div class="col">{{ feedback.text }}</div>
</div>
{% endfor %}
