{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Tauschmöglichkeiten</h1>
<h2>Direkt:</h2>
<table class="table">
  <tbody>
{% with calc=request.user.calculator %}
{% for deal in calc.level2 %}
    <tr>
      <td>{% with user=request.user %}{% include 'user/user_popover.html' %}{% endwith %}</td>
      <td>{% for listing in deal.pushs %}{% include 'listing/listing_link.html' %}{% endfor %}</td>
      <td><img src={% static 'logo.png' %} height="30px"></td>
      <td>{% for listing in deal.pulls %}{% include 'listing/listing_link.html' %}{% endfor %}</td>
      <td>{% with user=deal.user %}{% include 'user/user_popover.html' %}{% endwith %}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

<!-- 
<h2>Indirekte Tauschmöglichkeiten:</h2>
<h2>Weitere Tauschmöglichkeiten</h2>
 -->
<h2>Einseitig:</h2>
{% for deal in calc.level1 %}
  {% include 'user/user_popover.html' %}
  {{ deal.user }}{{deal.level}}
  {{ deal.pushs }}
  {{ deal.pulls }}
{% endfor %}
{% endwith %}
{% endblock %}
