{% extends 'base.html' %}
{% load static %}

{% block content %}
{% with calc=request.user.calculator %}

{% for dealset in calc.level3 %}
    {{dealset}}
  {% for deal in dealset.deals %}
    {{deal}}
  {% endfor %}
{% endfor %}

<h1>Tauschmöglichkeiten</h1>
<h2>Dreiseitig:</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Benutzer</th>
      <th scope="col">Tauscht</th>
      <th scope="col"></th>
      <th scope="col">Gegen</th>
      <th scope="col">Mit</th>
    </tr>
  </thead>
  <tbody>
{% for dealset in calc.level3 %}
  {% for deal in dealset.deals %}
    <tr>
      <td>{% with user=request.user %}{% include 'user/user_popover.html' %}{% endwith %}</td>
      <td>{% for listing in deal.pushs %}{% include 'listing/listing_badge_link.html' %}{% endfor %}</td>
      <td><img src={% static 'logo.png' %} height="30px"></td>
      <td>{% for listing in deal.pulls %}{% include 'listing/listing_badge_link.html' %}{% endfor %}</td>
      <td>{% with user=deal.user %}{% include 'user/user_popover.html' %}{% endwith %}</td>
    </tr>
  {% endfor %}
{% endfor %}
  </tbody>
</table>


<h2>Zweiseitig:</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Benutzer</th>
      <th scope="col">Tauscht</th>
      <th scope="col"></th>
      <th scope="col">Gegen</th>
      <th scope="col">Mit</th>
    </tr>
  </thead>
  <tbody>
  {% for dealset in calc.level2 %}
    {% for deal in dealset.deals %}
      <tr>
        <td>{% with user=request.user %}{% include 'user/user_popover.html' %}{% endwith %}</td>
        <td>{% for listing in deal.pushs %}{% include 'listing/listing_popover.html' %}{% endfor %}</td>
        <td><img src={% static 'logo.png' %} height="30px"></td>
        <td>{% for listing in deal.pulls %}{% include 'listing/listing_popover.html' %}{% endfor %}</td>
        <td>{% with user=deal.user %}{% include 'user/user_popover.html' %}{% endwith %}</td>
      </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>

<h2>Einseitig:</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Benutzer</th>
      <th scope="col">Tauscht</th>
      <th scope="col"></th>
      <th scope="col">Gegen</th>
      <th scope="col">Mit</th>
    </tr>
  </thead>
  <tbody>

{% for dealset in calc.level1 %}
  {% for deal in dealset.deals %}
    <tr>
      <td>{% with user=request.user %}{% include 'user/user_popover.html' %}{% endwith %}</td>
      <td>{% for listing in deal.pushs %}{% include 'listing/listing_popover.html' %}{% endfor %}</td>
      <td><img src={% static 'logo.png' %} height="30px"></td>
      <td>{% for listing in deal.pulls %}{% include 'listing/listing_popover.html' %}{% endfor %}</td>
      <td>{% with user=deal.user %}{% include 'user/user_popover.html' %}{% endwith %}</td>
    </tr>
  {% endfor %}
{% endfor %}
  </tbody>
</table>

{% endwith %}
{% endblock %}
