<span class="btn btn-link text-dark" data-placement="bottom" data-toggle="popover" data-trigger="click" data-container="body"> 
  <i class="fas fa-user-tie"></i> {{ user }}
  <div class="d-none popover-content">
    <ul class="list-group">
      <li class="list-group-item">Bietet:<br>
        {% for push in user.pushs %}
          {% with listing=push%}
            {% include 'listing/listing_badge_link.html' %}
          {% endwith %}
        {% endfor %}
      </li>
      <li class="list-group-item">Sucht:<br>
        {% for pull in user.pulls %}
          {% with listing=pull%}
            {% include 'listing/listing_badge_link.html' %}
          {% endwith %}
        {% endfor %}
      </li>
    </ul>
  </div>
</span>
