{% extends 'base.html' %}

{% block content %}
<div class="container-fluid bg-white">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Bietet</th>
          <th scope="col">Sucht</th>
        </tr>
      </thead>
      <tbody>
  {% for user in users %}
        <tr>
          <th scope="row">{{ user.pk }}</th>
          <td><a href="{% url 'user_detail' user.pk %}">{{ user }}</a></td>
          <td>{{ user.pushs }}</td>
          <td>{{ user.pulls }}</td>
        </tr>
  {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}