{% extends 'base.html' %}

{% block content %}
<div class="container-fluid bg-white">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Biete</th>
        <th scope="col">Suche</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ user.pk }}</th>
        <td>{% include 'user/user_link.html' %}</td>
        <td>
          {% for listing in user.pushs %}{% include 'listing/listing_link.html' %}{% endfor %}
        </td>
        <td>
          {% for listing in user.pulls %}{% include 'listing/listing_link.html' %}{% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}